@font-face { 
    font-family: "PT Sans";
    src: url(PT Sans.eot?) format("eot"),
         url(PT Sans.woff) format("woff"), 
         url(PT Sans.ttf) format("truetype");
}

body { 
  font-family: "PT Sans", sans-serif; 
}

#header{
	background-color: #dcdcdc;
	width: 980px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: auto;
}

.logo{
	width: 182px;
	height: 67px;
	float: left;
	padding-left: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.contacts{
	width: auto;
	height: auto;
	float: right;
	padding-right: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #767676;
	font-size: 24px;
	line-height: 30px;
	font-weight: 100;
	overflow: auto;
}

#menu{
	background-color: #777777;
	width: 980px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: auto;
}

#list{
	width: 720px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: auto;
	font-family: "PT Sans", sans-serif; 
    font-size: 20px;
	line-height: 30px;
	font-weight: 100;
	padding-bottom: 20px;
}

#menu ul li {
	float: left;
}

#menu ul li a {
	color: #ffffff;
	text-decoration: none;
	text-align: justify;
	margin-left: 10 px;
	margin-right: 10 px;
}

.menu{
	list-style-type: none;
	color: #ffffff;
}

.menu a:hover {
	display: block;
	border-bottom: 1.5px solid #ffffff;
}

.palka{
	padding-left: 10px;
	padding-right: 10px;
}

#slider{
	background-color: #f8f8f8;
	width: 980px;
	height: 250px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.slider{
	margin: 0 auto;
	position:absolute;
	bottom:0;
}

#content{
	width: 980px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: auto;
}